{{#tags}}
### {{name}}
    {{#commits}}
- {{messageTitle}} [_[{{hash}}](https://github.com/ApexStudios-Dev/ApexCore/commit{{hash}}) - *{{authorName}}*_]
        {{#messageBodyItems}}
    - {{.}}
        {{/messageBodyItems}}
    {{/commits}}
{{/tags}}