{{#tags}}
{{name}}
    {{#commits}}
- {{messageTitle}} [[{{hash}}](https://github.com/ApexStudios-Dev/ApexCore/commit{{hash}}) - {{authorName}}]
        {{#messageBodyItems}}
    - {{.}}
        {{/messageBodyItems}}
    {{/commits}}
{{/tags}}