{{#tags}}
<h3>{{name}}</h3>
    {{#commits}}
<ul>
    <li>{{messageTitle}} [<em><a href="https://github.com/ApexStudios-Dev/ApexCore/commit{{hash}}">{{hash}}</a> - <b>{{authorName}}</b></em>]</li>
    <ul>
    {{#messageBodyItems}}
        <li>{{.}}</li>
    {{/messageBodyItems}}
    </ul>
</ul>
    {{/commits}}
{{/tags}}